<div class="hero">
    <div class="hero__image">
        <img src="{{ page.banner.image }}" alt="">
        <span class="hero__overlay" style="background: {{ page.banner.overlay_color }}"></span>
    </div><!--
 --><div class="hero__body" style="color: {{ page.banner.text_color }}">
        <div class="container">
            <h1 class="hero__title editable">Hard Work Beats Talent</h1>
            <div class="hero__text editable">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid laborum numquam rerum!</div>
        </div>
    </div>
</div>