html {
    font-family: 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

h2 {
    text-align: center;
}

img,
iframe {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1em;
}



.header {
    overflow: hidden;
    color: #ffffff;
    background: #000000;
}
.header__logo {
    float: left;
}
.header__nav {
    overflow: hidden;
    /*float: right;*/
}



.nav {
}
.nav__items {
    text-align: right;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.nav__item {
    display: inline-block;
}
.nav__link {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: inherit;
}



.hero {
    position: relative;
    margin-bottom: 1em;
}

.hero__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero__image,
.hero__body {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.hero__image {
    margin-right: -100%;
}

.hero__body {
    position: relative;
    z-index: 2;
    padding: 1em;
    text-align: center;
}

.hero__title {
    margin-bottom: 0.5rem;
    text-transform: uppercase;
 }

.hero__text {
    max-width: 20em;
    margin: 0 auto;
}



.classes {

}
.classes__items {
    padding: 0;
    margin: 0 0 0 -1em;
    list-style-type: none;
}
.classes__item {
    vertical-align: top;
    display: inline-block;
    width: 33.3334%;
    padding-left: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.classes__image {
    margin-bottom: 1em;
}
.classes__title {
    margin-bottom: 1rem;
}